[submodule "third_party/PixelDiT"]
	path = third_party/PixelDiT
	url = https://github.com/NVlabs/PixelDiT.git
[submodule "third_party/TRELLIS.2"]
	path = third_party/TRELLIS.2
	url = https://github.com/microsoft/TRELLIS.2.git
